{{#loggedin}}
<div id="links">
    <img src="./images/logo.png" alt="easyshop logo" class="site-logo">
    <a href="#" onclick="loadHome()" class="active">Home</a>
    <a href="#" onclick="editProfile()">Profile</a>
    <a href="#" onclick="showCart()">View Cart</a>
</div>

<div class="header-actions">
    <span>Welcome <strong>{{username}}</strong></span>
    <a href="#" onclick="userService.logout();return false;">Logout</a>
    <div class="cart" onclick="showCart()">
        <i class="fa-solid fa-cart-shopping"></i>
        <div id="cart-items">0</div>
    </div>
</div>
{{/loggedin}}

{{#loggedout}}
<div id="links">
    <img src="./images/logo.png" alt="easyshop logo" class="site-logo">
    <a href="#" onclick="loadHome()" class="active">Home</a>
    <a href="#" onclick="showRegisterForm()">Create Account</a>
</div>

<div class="header-actions">
    <a href="#" onclick="showLoginForm();return false;" class="login-link">Login</a>
</div>
{{/loggedout}}